<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>fee-calc</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>fee-calc</h1>
            <p>Please fill the form!</p>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form id="form" action="{{ url_for('back.send_fee') }}">
            <fieldset class="form-group">
            <label for="payee">Payee</label>
            <select class="form-control" id="payee" name="payee">
                <option></option>
                {% for user in users %}
                <option>{{ user }}</option>
                {% endfor %}
            </select>
            </fieldset>
            <fieldset class="form-group">
            <label for="acceptor">Acceptor</label>
            <select class="form-control" id="acceptor" name="acceptor">
                <option></option>
                {% for user in users %}
                <option>{{ user }}</option>
                {% endfor %}
            </select>
            </fieldset>
            <fieldset class="form-group">
            <label for="balance">Balance</label>
            <input type="text" class="form-control" id="balance" name="balance">
            </fieldset>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>


        <div class="col-md-6">
            <h1>List</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Payee</th>
                            <th>Acceptor</th>
                            <th>Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                      <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] | float }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <h1>Report</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Payee</th>
                            <th>Acceptor</th>
                            <th>Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for payee in report %}
                        {% for acceptor in report[payee] %}
                          <tr>
                            <td>{{ payee }}</td>
                            <td>{{ acceptor }}</td>
                            <td>{{ report[payee][acceptor] | float }}</td>
                          </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            <h1>Reduced report</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Acceptor</th>
                            <th>Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in reduced_report %}
                      <tr>
                        <td>{{ item }}</td>
                        <td>{{ reduced_report[item] | float }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
      </div>
      <div class="row">
          <div class=".col-md-12">
            <hr>
          </div>
      </div>
    </div>

    <!-- JavaScript: placed at the end of the document so the pages load faster -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <!-- Tether -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

     <!-- Latest React -->
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='local.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='rest.js') }}"></script>
  </body>
</html>
